html{
    font-family: 'Noto Sans JP', sans-serif !important; 
}
body{
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
ul{
    margin: auto;
}
li{
    display: block;
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
h2{
    font-size: 55px;
    margin: 0%;
    margin-bottom: 37px;
    letter-spacing: 0.05em;
    font-weight: 700;
    
}
/* Main Styles */
.main{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 55px;
    margin-right: 55px;

}
.image-main{
    padding: 120px;
    margin-top: 21px;
    bottom: 19px;
    margin-left: 222px;
    margin-right: 222px;
    -webkit-font-smoothing: antialiased;
}
.kaguya{
    max-width: 100%;
    margin-top: -160px;
    margin-bottom: -200px;
    box-shadow: 0px 1px 7px 2px rgb(35 39 39 / 27%);

}
.bg-main{
    z-index: -1;
    background-color: #e7274c;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-position: 0 0;
    background-size: 20px 20px;
    pointer-events: none;
}
.logo-container{
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: translateY(-50%);
    width: 9.8%;
}
.logo-main{
    position: absolute;
    width: 120px;
    filter: brightness(0) invert(1) ;
}
.onair{
    display: block;
    position: absolute;
    transform: translate(1853%, -50%);
    top: 65%;
    width: 70px;
}
.onair-red{
    display: block;
    position: absolute;
    top: 1%;
    transform: translate(-128%, -1%);
    stroke-width: 2px;
    stroke: #e7274c;
    fill: transparent;
    width: 70px;

}
.onair-red-2{
    position: absolute;
    transform: translate(1950%, -50%);
    top: 65%;
    overflow-x: hidden;
    pointer-events: none;
    stroke-width: 2px;
    stroke: #e7274c;
    fill: transparent;
    width: 70px;
}
.onair-img{
    overflow: hidden;
    width: 140%;
}
/* News styles */
.news-container{
    display: block;
    padding: 140px 0 165px;
    position: relative;
}
.news{
    margin-left: 100px;
    margin-right: 100px;
}
.news-table{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}
.news-content{
    display: flex;
    vertical-align: top;
}
.news-text{
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 1.7;
    flex: 1 1 auto;
    padding-bottom: 80px;
}
.news-date{
    display: flex;
    flex-wrap: wrap;
}
.news-year{
    writing-mode: vertical-lr;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    letter-spacing: -.02em;
    -webkit-text-fill-color: transparent;
}
.news-day{
    writing-mode: vertical-lr;
    font-size: 40.5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    letter-spacing: -.2em;
    -webkit-text-fill-color: transparent;
    letter-spacing: -.02em;
    font-weight: 700px;
    line-height: 1px;
    margin-right: 20px;
    margin-left: 0px;
}
/* Introduction Styles */
.introduction{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 150px;
    padding-bottom: 102px;
}
.introductionImg{
    width: 330px;
}
.introductionLeft{
    padding: 40px;
    margin-left: 170px;
}
.introductionRight{
    font-size: 14px;
    margin-right: 117;
    letter-spacing: 0.145em;
    line-height: 1.88;
    padding: 40px;
}
/* Footer Styles */
footer{
    justify-content: center;
    background-color: black;
}
.footerDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imageFooter{
    width: 260px;
    margin: 30px;
}
.footerLeft{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footerRight{
    padding: 35px;
    grid-column: 4;
    text-align: center;
    align-items: center;
    color: white;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.footerRight-row1{
    margin-bottom: 20px;
}
.share{
    margin: auto;
    font-size: 11px;
    letter-spacing: 0.45em;
    vertical-align: middle;
}
.socialImg{
    width: 32px;
    margin-left: 15px;
    margin-right: 15px;
}
.bottomText{
    font-size: 11px;
    text-align: center;
    color: gray;
    padding: 15px;
}