/* General Styles */
html{
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif !important; 
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
}
body{
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
}
ul{
    margin: auto;
    padding-inline-start: 0px;
}
li{
    display: block;
    list-style: none;
    display: inline;
    /* margin-left: 10px;
    margin-right: 10px; */
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
h2{
    font-size: 55px;
    margin: 0%;
    margin-bottom: 37px;
    letter-spacing: 0.05em;
    font-weight: 700;    
}
/* Aminations */
@keyframes slide{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1358px, 0, 0);
    }
}
@keyframes slide2{
    0% {
        transform: translate3d(-1358px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
/* Decorations */
.background-text-a{
    background: url(./resources/img/bg_deco-text.png) repeat-x;
    width: 4074px;
    height: 10px;
    animation: slide 30s linear infinite;
}
.background-text-b{
    background: url(./resources/img/bg_deco-text.png) repeat-x;
    width: 4074px;
    height: 10px;
    animation: slide2 30s linear infinite;
    margin: 6px;
}
.c-background-text{
    overflow: hidden;
    position: absolute;
    border: none;
    padding: none;
}
.p-background-text{
    position: absolute;
    left: 0;
    white-space: nowrap;
}
/* Main Styles */
.main{
    padding-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
}
.image-main{
    padding: 120px;
    margin-top: 60px;
    margin-bottom: 90px;
    margin-left: 222px;
    margin-right: 222px;
    
}
.kaguya{
    max-width: 100%;
    margin-top: -160px;
    margin-bottom: -160px;
    box-shadow: 0px 1px 7px 2px rgb(35 39 39 / 27%);
}
.bg-main-container{
    overflow: hidden;
}
.bg-main{
    overflow: visible;
    z-index: -1;
    background-color: #e7274c;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-position: 0 0;
    background-size: 20px 20px;
    pointer-events: none;
}
.logo-container{
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    width: 9.8%;
}
.logo-main{
    position: absolute;
    width: 120px;
    filter: brightness(0) invert(1) ;
}
.onair{
    display: block;
    position: absolute;
    transform: translate(2453%, -50%);
    top: 65%;
    width: 70px;
}
.onair-red{
    display: block;
    position: absolute;
    top: 1%;
    transform: translate(-128%, -1%);
    stroke-width: 2px;
    stroke: #e7274c;
    fill: transparent;
    width: 70px;

}
.onair-red-2{
    position: absolute;
    transform: translate(2550%, -50%);
    top: 65%;
    overflow-x: hidden;
    pointer-events: none;
    stroke-width: 2px;
    stroke: #e7274c;
    fill: transparent;
    width: 70px;
}
.onair-img{
    overflow: hidden;
    width: 140%;
}
/* News styles */
.news-container{
    display: block;
    padding-left: 115px;
    padding-right: 115px;
    position: relative;
}
.news{
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px 0 165px;
}
.news-table{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}
.news-content{
    display: flex;
    flex: 1 1 auto;
    vertical-align: top;
    flex: 1 1 auto;

}
.news-text{
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 1.7;
    flex: 1 1 auto;
    padding-bottom: 80px;
}
.news-date{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
.news-year{
    writing-mode: vertical-lr;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    letter-spacing: -.02em;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    margin-right: 10px; 
}
.news-day{
    writing-mode: vertical-lr;
    font-size: 40.5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    letter-spacing: -.2em;
    -webkit-text-fill-color: transparent;
    letter-spacing: -.02em;
    font-weight: 700px;
    line-height: 1px;
    margin-right: 20px;
    margin-left: 0px;
}
.news-arrow-container{
    flex: 1 1 auto;
}
.news-arrow{
    width: 74px;
}
/* Scrolling Menu Styles */
.scrolling-menu{
    display: flex;
    overflow-x: scroll;
}
.c-scrolling-menu{  
    margin-top: 45px;
    
}
.scroll-img{
    width: 650px; 
    height: 360px; 
    object-fit: cover;
}
/* Introduction Styles */
.introduction{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 11fr);
    padding-top: 150px;
    padding-bottom: 102px;
    align-self: center;
}
.introductionImg{
    width: 330px;
}
.introductionLeft{
    padding: 40px;
    margin-left: 200px;
}
.introductionRight{
    font-size: 14px;
    letter-spacing: 0.145em;
    line-height: 1.88;
    padding: 40px;
    margin-left: 10px;

}
/* Footer Styles */
footer{
    justify-content: center;
    background-color: black;
    position: absolute;
}
.footerDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imageFooter{
    width: 260px;
    margin: 30px;
}
.footerLeft{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footerRight{
    padding: 35px;
    grid-column: 4;
    text-align: center;
    align-items: center;
    color: white;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.footerRight-row1{
    margin-bottom: 20px;
}
.share{
    margin: auto;
    font-size: 11px;
    letter-spacing: 0.45em;
    vertical-align: middle;
}
.socialImg{
    width: 32px;
    margin-left: 15px;
    margin-right: 15px;
}
.bottomText{
    font-size: 11px;
    text-align: center;
    color: gray;
    padding: 15px;
}